# CI test result

This is a png created by the log visualizer tool of the last CI run.

![diag](diagrams/Scheduler.png)
